<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	
		<!-- Basic -->
    	<meta charset="UTF-8" />

		<title></title>
	
		<!-- Mobile Metas -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
	    <!-- start: CSS file-->
		
		<!-- Vendor CSS-->
		<link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="../static/vendor/skycons/css/skycons.css" rel="stylesheet" />
		<link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

		<!-- Theme CSS -->
		<link href="../static/css/jquery.mmenu.css" rel="stylesheet" />
		
		<!-- Page CSS -->
		<link href="../static/css/style.css" rel="stylesheet" />
		<link href="../../static/css/add-ons.min.css" rel="stylesheet" />
		
		<style>
			footer {
				display: none;
			}
		</style>
		
		<!-- end: CSS file-->	

		<script src="../static/js/jquery-3.1.1.min.js"></script>
		<script src="../static/js/jsencrypt.min.js"></script>
	</head>

<script type="text/javascript">
function check_email(){
	var email = document.getElementById("username").value;
	 $("#emailMsg").empty();
	if (email != ""){
		var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
		is_valid = reg.test(email);
		if(!is_valid){
			$("#emailMsg").append("Format of email address error");
			document.getElementById("username").focus();//让邮箱文本框获得焦点
			return false;
		}
	}else {
		$("#emailMsg").append("Please enter the email address");
			document.getElementById("username").focus();//让邮箱文本框获得焦点
	}
}

function check_password() {
	var password = document.getElementById("password").value;
	$("#passwordMsg").empty();
	if(password == ""){
		$("#passwordMsg").append("Password can't be empty");
			document.getElementById("password").focus();//让邮箱文本框获得焦点
	}
}

function check_password_confirm(){
	var password_confirm = document.getElementById("password_confirm").value;
	$("#passwordConfirmMsg").empty();
	if(password_confirm != document.getElementById("password").value){
		$("#passwordConfirmMsg").append("Two passwords are not equal");
			document.getElementById("password_confirm").focus();//让邮箱文本框获得焦点
	}
}
</script>



	<body>
		<!-- Start: Content -->
		<div class="container-fluid content">
			<div class="row">
				<!-- Main Page -->
				<div id="content" class="col-sm-12 full">
					<div class="row">
						<div class="login-box">
							<div class="panel">
								<div class="panel-body">								
									<div class="header bk-margin-bottom-20 text-center">										
										<h4>&nbsp;</h4>
										<h4>Register</h4>
									</div>		
									<form class="form-horizontal login">
										<div class="bk-padding-left-20 bk-padding-right-20">
											<div class="form-group">
												<label>Username</label>
												<div class="input-group input-group-icon">
													<input type="text" class="form-control bk-radius" name="username" id="username" onblur="check_email()"/>
												</div>
												<div class="input-group input-group-icon">
													<p name="emailMsg" id="emailMsg"></p>
												</div>
											</div>											
											<div class="form-group">
												<label>Password</label>
												<div class="input-group input-group-icon">
													<input type="password" class="form-control bk-radius" name="password" id="password" onblur="check_password()"/>
												</div>
												<div class="input-group input-group-icon">
													<p name="passwordMsg" id="passwordMsg"></p>
												</div>
											</div>
                                            <div class="form-group">
												<label>Confirm Password</label>
												<div class="input-group input-group-icon">
													<input type="password" class="form-control bk-radius" name="password_confirm" id="password_confirm" onblur="check_password_confirm()"/>
												</div>
												<div class="input-group input-group-icon">
													<p name="passwordConfirmMsg" id="passwordConfirmMsg"></p>
												</div>
											</div>
											<div class="row bk-margin-top-20 bk-margin-bottom-10">
												<div class="col-sm-4 text-right">
													<button class="btn btn-primary hidden-xs" onclick="return register()" id="registerBtn">Register</button><!--此处的button不能设置type为submit-->
												</div>
<script type="text/javascript">
	function check_data(){
		console.log("check_data")
		var password = document.getElementById("password").value;
		$("#passwordMsg").empty();
		if(password == ""){
			$("#passwordMsg").append("Password can't be empty");
			document.getElementById("password").focus();//让邮箱文本框获得焦点
		}else {
			$("#passwordConfirmMsg").empty();
			if(document.getElementById("password_confirm").value == ''){
				$("#passwordConfirmMsg").append("Two passwords are not equal");
				document.getElementById("password_confirm").focus();//让邮箱文本框获得焦点
			}
		}
	}
	function register() {

		if(document.getElementById("password").value == document.getElementById("password_confirm").value && document.getElementById("password").value != "" && document.getElementById("username").value != ""){

			var crypt = new JSEncrypt();
			crypt.setPublicKey("MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCo7y1fJgzw6ru3cE4TY4kIDAXSP5HYye6JfHKp2grSVgv3KS42VZpRiTM/QKopjth+sS1P4kSZf44JNbpfiYC2wxOYIekHblKSHJ/aAekxXAIINXK7j7QmsplSiuWPwxr9KARjLEBGGLgJbcvaW+7xTVGE0KxjPKWym9ebWFvACwIDAQAB");
			console.log("register")
			//var username = crypt.encrypt($("#username").val());
			var password = crypt.encrypt($("#password").val());
            console.log("register")

			var data = {
				data: JSON.stringify({
					"username": $("#username").val(),
					"password": password
				})
			};
			console.log(data);
			$.ajax({
				type:"post",
				url:'http://localhost:8888/register',
				data:data,
				success: function(data) { //这里的data就是json格式的数据
					if(data == "success"){
						console.log(data);
		            	window.location.href = "http://localhost:8888/login";
					}else if(data == "failed"){
						document.getElementById("passwordConfirmMsg").innerHTML = "Username already exists";
						console.log(data);
						setTimeout('delayer()',2000);//设置2秒延时
					}
				},
            	error: function() {
		        	window.location.href = "http://localhost:8888/register";
				}
	    	});
		}else{
			check_data()
		}
		return false;
	}

function delayer() {
	window.location.href = "http://localhost:8888/register";
}
</script>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>			
				</div>
				<!-- End Main Page -->
			</div>
		</div><!--/container-->

		
	</body>
	
</html>